* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
}

h2,
p {
	color: #658ec6;
	font-weight: 600;
	opacity: .8;
}

h3 {
	font-size: 2rem;
}

.user p {
	font-size: 1.2rem;
}

h3,
h1 {
	color: #426696;
	font-weight: 600;
	opacity: .8;
}

main {
	display: flex;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	min-height: 100vh;
}

.glass {
	min-height: 80vh;
	width: 100%;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
	z-index: 3;
	backdrop-filter: blur(2rem);
}

.dashboard {
	display: grid;
	place-items: center;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
	padding: 2rem 0;
	text-align: center;
}

.links {
	display: flex;
	flex-direction: column;
	margin: 3rem;
}

.link,
.link h2 {
	margin: .8rem;
}

.link h2 {
	font-size: 2rem;
	letter-spacing: .3rem;
}

.icons {
	width: 25%;
}

.pro {
	width: 100%;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	border-radius: 1rem;
	padding: 1rem;
	position: relative;
}

.pro img {
	position: absolute;
	top: -20%;
	right: 10%;
}

.pro h2 {
	color: #fff;
	width: 40%;
	font-size: 1.6rem;
	padding-left: 10%;
}



/* GAMES */

.status {
	margin-bottom: 3rem;
}
.status input {
	width: 50%;
	border: none;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .3));
	border-radius: 2rem;
	padding: .2rem;
}

.games {
	margin: 2rem;
	text-align: center;
}

.card {
	background: linear-gradient(to left top, rgba(255, 255, 255, .8), rgba(255, 255, 255, 0.2));
	border-radius: 1rem;
	padding: 1.3rem;
	margin: 1rem 0;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, .2);
}

.percentage {
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
	font-weight: 700;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.progress {
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	width: 70%;
	height: 17px;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	transform: translateY(130%);
}
.progress::after {
	content: "";
	width: 40%;
	height: 100%;
	background: rgb(236, 216, 236);
	position: absolute;
	right: 0;
}

@media screen and (min-width: 900px) {

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

	.glass {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        border-radius: 2rem;
	}

	.dashboard {
		flex: 1;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
	}
	.games {
		flex: 2;
        justify-content: space-around;
	}
    .card {
        display: flex;
        width: 80%;
    }
    .card-info {
        margin-left: 10%;
    }
    .links {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    .link,
    .link h2 {
        margin: .2rem;
    }
    
    .link h2 {
        font-size: 1rem;
        letter-spacing: 0;
    }
    
    .icons {
        width: 50%;
    }
    .percentage {
        align-items: flex-end;
    }
    .pro img {
        position: absolute;
        width: 30%;
        top: 10%;
        right: 5%;
    }
    
    .pro h2 {
        color: #fff;
        width: 60%;
        font-size: 1.6rem;
        padding-left: 5%;
    }

    .circle1, .circle2 {
        background: linear-gradient(
        to right bottom,
        rgba(255, 255,255, .7),
        rgba(255, 255, 255, .3)
        );
        height: 15rem;
        width: 15rem;
        position: absolute;
        border-radius: 50%;
    }

    .circle1 {
        top: 0;
        right: 0;
    }

    .circle2 {
        bottom: 2%;
        left: 4%;
    } 
}
